click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
numpy==1.20.2
scikit-learn==0.24.1
scipy==1.6.3
six==1.15.0
sklearn==0.0
skorch==0.10.0
tabulate==0.8.9
threadpoolctl==2.1.0
tqdm==4.60.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
matplotlib==2.1.1
pandas==1.2.4
gunicorn==19.9.0
xgboost
torch
skorch
pandas
matplotlib
flask 		

